<%= form_with(model: page, local: true) do |form| %>
  <% if page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% page.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :header %>
    <%= form.text_field :header, id: :page_header , class: 'tmp'%>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :page_title , class: 'tmp'%>
  </div>


  <div>
  <%= form.text_area :page, id: :page_page , :size=>"110x10"%>
</div>

  <%#=form.trix_editor :page%>

  <trix-editor input="page_page"></trix-editor>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>